@model WebProjeto.Models.Cliente

<h2>Detalhes do Paciente</h2>

<div>
    <p><strong>Nome:</strong> @Model.Nome</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Data de Nascimento:</strong> @Model.Nascimento.ToString("dd/MM/yyyy")</p>
    <p><strong>CPF:</strong> @Model.CPF</p>
    <p><strong>Telefone:</strong> @Model.Telefone</p>
    <p><strong>Endereço:</strong> @Model.Endereco</p>
    <p><strong>CEP:</strong> @Model.Cep</p>
    <p><strong>Cidade:</strong> @Model.Cidade</p>
</div>

<a asp-action="Index" class="btn btn-secondary">Voltar</a>
