@model IEnumerable<WebProjeto.Models.Cliente>

<h2>Lista de Pacientes</h2>

<a asp-action="Create" class="btn btn-success mb-2">Adicionar Paciente</a>

@{
    var termoBuscado = ViewBag.Termo as string;
    var resultadosVazios = Model != null && !Model.Any();
}
<form asp-action="Buscar" method="get" class="d-flex">
    <input type="text" name="termo" value="@termoBuscado" class="form-control" placeholder="Buscar por nome ou CPF" />

    @if (resultadosVazios)
    {
        <a asp-action="Index" class="btn btn-warning ms-2">Voltar</a>
    }
    else
    {
        <button type="submit" class="btn btn-primary ms-2">Buscar</button>
    }
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Nascimento</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>CEP</th>
            <th>Cidade</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Email</td>
                <td>@item.Nascimento.ToString("dd/MM/yyyy")</td>
                <td>@item.CPF</td>
                <td>@item.Telefone</td>
                <td>@item.Endereco</td>
                <td>@item.Cep</td>
                <td>@item.Cidade</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Excluir</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
